body {
  background-color: bisque;

}

h1 {
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
}
main{
  position: absolute;
  
  left: 150px;
}

.imagem {
  position: relative; 
  text-align: center; 
}

.imagem img {
  display: inline-block; 
  margin: auto; 
}






